---
faq:
  - question: O que é o Projeto Kube?
    answer: É um projeto de pesquisa que estuda a virtualização baseada em conteineres e como os professores/alunos podem fazer uso para melhorar suas práticas em sala de aula.
  - question: Quando foi inicializado?
    answer: O estudo teve início em 2017, com o estudo da plataforma Docker.
  - question: Onde é realizado?
    answer: O grupo de pesquisa está inserido no Instituto Federal de Sergipe, no Campus Lagarto.
  - question: É possível participar como voluntário?
    answer: Sim, o projeto é aberto para a comunidade e toda ajuda é bem vinda. Procure um dos nossos membros para saber mais sobre o processo de colaboração.
---
<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>